<footer class="footer">

    <div class="gototop js-top">
        <a href="#" class="js-gotop">
          <i class="icon-arrow-up"></i>
        </a>
      </div>
      
    <div class="container-fluid">
      <div class="copyright float-right">
        &copy;
       2019, by
        <a target="_blank">Rafael Almeida</a>.
        <i class="material-icons">favorite</i>
      </div>
    </div>
  </footer>